<html>
<div width="100%" height="200" style="background-color:#ff5233">
  <br />
  <center>
    <h1 style="font-family: 'Roboto Slab', serif; color:white">GymPoint</h1>
  </center>
  <br />
</div>
<br />

<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap');
</style>

</html>
