<p>Olá <strong>{{ student }}</strong>,</p>
<p>Obrigado por entrar em contato com a equipe GymPoint</p>
<p>Ficamos muito felizes em responder sua pergunta:</p>
<hr>
<p>
  <blockquote align="left"><strong>× Pergunta: </strong>{{ question }}<br /></blockquote>
  <blockquote align="right"><strong>× Resposta: </strong> {{ answer }}<br /></blockquote>
  <br />
</p>
